{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        com.phronemophobic/membrane {:mvn/version "0.14.4-beta"}
        com.phronemophobic/whisper-clj {:mvn/version "1.2"}
        com.phronemophobic.cljonda/whisper-cpp-darwin-aarch64 {:mvn/version "c96906d84dd6a1c40ea797ad542df3a0c47307a3"}
        com.phronemophobic.cljonda/whisper-cpp-darwin-x86-64 {:mvn/version "c96906d84dd6a1c40ea797ad542df3a0c47307a3"}
        com.phronemophobic.cljonda/whisper-cpp-linux-x86-64 {:mvn/version "c96906d84dd6a1c40ea797ad542df3a0c47307a3"}}
 :aliases {:test {:extra-paths ["test"]}}}